:root {
    --button-hover-background: var(--t2);
}

button {
    all: unset;
}

button {
    display: flex;
    align-items: center;
    background: transparent;
    padding: 4px 5px;
    gap: 6px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: var(--button-hover-background);
}

button:active {
    transform: scale(0.99);
    color: var(--t9);
}

a,
button {
    transition: all 0.1s ease-out;
}

.status-button {
    padding: 6px 12px;
    padding-left: 10px;
    gap: 6px;
    border: 1px solid var(--border-color);
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 24px;
    border-radius: 999px;
}

