.button button {
    padding: 6px 12px;
    padding-left: 10px;
    gap: 6px;
    border: 1px solid var(--t2);
    border-radius: 12px;
    color: var(--t7);
    font-size: 14px;
    line-height: 22px;
}

.card {
    display: flex;
    width: 272px;
    padding: 20px 16px 20px 20px;
    flex-direction: column;
    align-items: flex-start;
    font-family: var(--font-diatype);
    gap: 24px;
    background-color: var(--z0);
    outline: 0.5px solid var(--t2);
    border-radius: 12px;
    box-shadow: 0px 13px 8px 0px rgba(0, 0, 0, 0.01), 0px 6px 6px 0px rgba(0, 0, 0, 0.01), 0px 1px 3px 0px rgba(0, 0, 0, 0.01);
}

.card section {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.card h6 {
    font-size: 12px;
    line-height: 140%;
    color: var(--t7);
}

.card p {
    color: var(--t8);
}