.header {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    z-index: 2;
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: 6px;
}

.headerRight {
    display: flex;
    align-items: center;
    gap: 6px;
}