.page {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100svh;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 6px;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 6px;
}

.main {
  display: grid;
  place-content: center;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.home h2 {
  font-size: 50px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: var(--t9);
}

.home .meta {
  display: flex;
  align-items: center;
  gap: 8px;
}

.home .meta div {
  display: flex;
  align-items: center;
}

.home .meta button {
  padding-right: 7px;
}

.home .meta button:active {
  transform: scale(.99);
}

.home .meta button img {
  border-radius: 50%;
}

.bottom {
  padding-bottom: 24px;
  padding-top: 2px;
}

.bottom .cards {
  max-width: var(--prompt-bar-max-width);
  margin: 0 auto;
  display: flex;
  gap: 12px;
  padding: 12px;
}



@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}